*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  nav{
    
    height: 80px;
    /* border: 2px solid red; */
    
  }
  
  .main-nav-container{
    height: 56px;
    width: 1145px;
    margin: 24px 101px 0px 101px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  
  .category-name ul{
    display: flex;
    /* border: 1px solid blue; */
    justify-content: space-between;
    width: 234px;
    height: 56px;
  }
  
  .category-name ul > a{
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    border: none;
    cursor: pointer;
    text-decoration: none;
    /* border: 1px solid forestgreen; */
    padding: 4px 16px 32px 16px;
  }

  .category-name ul > a:visited{
    color: inherit;
  }
  .category-name ul > a:focus {
    border-bottom: 3px solid #5ECE7B;
    color: #5ECE7B;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
  }

  .category-name ul > a::selection {
    color: #5ECE7B;
  }
  /* #emphasis{
    border-bottom: 3px solid #5ECE7B;
    color: #5ECE7B;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
  } */
  
  .cart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 204px;
    height: 40px;
    /* border: 1px solid purple; */
  }
  
  
  
  #cart-logo {
    width: 20px;
    height: 20px;
    margin-left: 22px;
    cursor: pointer;
  }
  
  #dollar-sign{
    width: 12px;
    height: 20px;
    cursor: pointer;
  }
  
  #arrow-down{
    height: 6px;
    width: 10px;
    margin-left: 10px;
    cursor: pointer;
  }

  #category-heading{

    height: 68px;
    width: 299px;
    margin-left: 101px;
    margin-top: 80px; 
    margin-bottom: 103px;
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: capitalize;
  
  }
  
  .card-wrapper{
    /* border: 1px solid red;
    background-color:green; */
    width: 342px;
    height: 390px;
    margin-bottom: 103px;
    margin-right: 40px;
  }
  
  .category-cardWrapper {
    margin-left: 101px;  
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    width: 1147px;
    
  }

  .card-img-section{
     /* border: 1px solid purple;  */
     height: 320px;
  }
 
  /*#green-cart{
    border: 1px solid orangered;
  } */
  #green-cart img{
    /* border: 1px solid orangered; */
    width: 32px;
    height: 32px;
    position: relative;
    left: 272px;
    top: -35px;
    margin-bottom: -35px;
  }
  .card-wrapper:hover{
    box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 15px;
    
  }
  
  #product-image{
    /* border: 1px solid blue; */
    width: 310px;
    height: 285px;
    margin: 16px 16px 0px 16px ;
  }
  
  #product-name{
    /* border: 1px solid blue; */
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    margin: 0px 16px 0px 16px;
  
  }
  
  #product-price{
    margin-left: 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  
  }